.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary);
}
/*
* Add new css class to maintain alignment
*/
.header-sort {
  display: flex;
  flex-direction: row;
}

.header-sort_label {
  margin-right: 0.5rem;
}

.header-sort_select {
  margin-right: 2rem;
}

.header-toggle_label {
  margin-right: 0.5rem;
}

/*
* Add media query to maintain responsive in small devices
*/
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}